parameters:
	ignoreErrors:
		-
			message: "#^Property SouthPointe\\\\Core\\\\Exception\\:\\:\\$context type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exception.php

		-
			message: "#^Property SouthPointe\\\\Core\\\\LogicException\\:\\:\\$context type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/LogicException.php

		-
			message: "#^Property SouthPointe\\\\Core\\\\RuntimeException\\:\\:\\$context type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/RuntimeException.php
